@model List<BazarPapelaria10.Models.ProdutoAgregador.ProdutoItem>
@{
    ViewData["Title"] = "Nota 10 - Pagamento";
    decimal subTotal = 0;
    var enderecoEntregaId = Context.Request.Query["id"];
}

<div class="container">
    <br />
    <br />
    <div class="row">

        <aside class="col-sm-6">

            <h4 class="subtitle-doc text-center">
                <i class="fas fa-shopping-basket"></i> Detalhes da compra
            </h4>
            <div id="code_payment">

                <article class="card">
                    <div class="card-body p-5">
                        <div id="code_itemside_img2">
                            <div class="box items-bordered-wrap">

                                @foreach (var item in Model)
                                {
                                    <figure class="itemside">

                                        @if (item.Imagens != null && item.Imagens.Count > 0)
                                        {
                                            <div class="aside">
                                                <a asp-controller="Produto" asp-action="Visualizar" asp-route-id="@item.Id">
                                                    <img src="@item.Imagens.FirstOrDefault().Caminho" class="img-sm">
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="aside"><img src="/images/noimage.png" class="img-sm"></div>
                                        }

                                    <figcaption class="text-wrap align-self-center" style="margin-left: 8px;">

                                        @{
                                            var resultado = item.Valorprod * item.QuantidadeProdutoCarrinho;
                                            subTotal += resultado;
                                        }

                                        <h6 class="title"><strong>@item.Nomeprod</strong></h6>
                                        <div class="price-wrap">
                                            <span class="price-new">Quantidade: @item.QuantidadeProdutoCarrinho</span>
                                            <br />
                                            <var class="price-new">@(resultado.ToString("C"))</var>
                                            <small class="text-muted">/@item.Valorprod.ToString("C") cada</small> 
                                        </div>
                                    </figcaption>
                                    </figure>
                                }

                            </div>

                            <div class="box">
                                <h4 class="subtitle-doc text-center" style="margin-bottom:15px;">
                                    <i class="fas fa-money-bill-wave"></i> Resumo
                                </h4>
                                <dl class="dlist-align">
                                    <dt><i class="fas fa-map-marked-alt"></i><strong> Entrega:</strong></dt>
                                    <dd class="text-right">
                                        Aparecida de Goiânia e Goiânia
                                        <small class="text-muted">/frete grátis</small>
                                    </dd>
                                </dl>

                                <dl class="dlist-align" style="margin-bottom:15px;">
                                    <dt><i class="fas fa-money-check-alt"></i><strong> Valor total:</strong></dt>
                                    <dd class="text-right h5 b subtotal">@subTotal.ToString("C")</dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </article>

            </div>

        </aside>
        <aside class="col-sm-6">

            <h4 class="subtitle-doc text-center">
                <i class="fas fa-money-bill-wave"></i> Pagamento
            </h4>
            <div id="code_payment2">

                <article class="card">
                    <div class="card-body p-5">

                        <ul class="nav bg radius nav-pills nav-fill mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                    <i class="fa fa-credit-card"></i> Cartão de Crédito
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                    <i class="fas fa-barcode"></i> Boleto
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-tab-card">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="username">Nome Completo (conforme no cartão)</label>
                                        <input type="text" class="form-control" name="username" placeholder=""
                                               required="">
                                    </div>

                                    <div class="form-group">
                                        <label for="cardNumber">Número do Cartão</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="cardNumber"
                                                   placeholder="">
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa"></i> &nbsp; <i class="fab fa-cc-amex"></i>
                                                    &nbsp;
                                                    <i class="fab fa-cc-mastercard"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label><span class="hidden-xs">Validade</span> </label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" placeholder="MM"
                                                           name="">
                                                    <input type="number" class="form-control" placeholder="AA"
                                                           name="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label data-toggle="tooltip" title="" data-original-title="Código de 3 digítos na parte de trás do cartão.">
                                                    CVV
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                                <input type="number" class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="subscribe btn btn-success btn-block" type="button">
                                        Confirmar
                                    </button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-tab-paypal">
                                <p>Boleto, a maneira mais fácil de efetuar seu pagamento!</p>
                                <p>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-print"></i>
                                        Imprimir boleto
                                    </button>
                                </p>
                                <p>
                                    <strong>Nota:</strong> O pagamento por boleto pode demorar algum tempo até ser confirmado.
                                </p>
                            </div>

                        </div>

                    </div>
                </article>

            </div>

        </aside>

    </div>
    <br />
    <br />
</div>