@model BazarPapelaria10.Models.PedidoAgregador.Agregador
@{
    ViewData["Title"] = "Nota 10 - Visualizar";
    decimal total = 0;
}

<br />
<div class="container">
    <form method="post">
        <div class="row">

            <div class="col-md-12">
                <h3>Dados pedido</h3>
                <table class="table table-bordered">
                    <tr>
                        @if (Model.pedido.Status == 0)
                        {
                            <td colspan="2"><strong>Situação do pedido: </strong>Solicitado</td>
                        }
                        else
                        {
                            <td colspan="2"><strong>Situação do pedido: </strong>Não definido</td>
                        }

                    </tr>
                    <tr>
                        <td><strong>Cliente: </strong>@Model.cliente.Nome</td>
                        <td><strong>Data de Nascimento: </strong>@Model.cliente.Nascimento.ToShortDateString()</td>
                    </tr>
                    <tr>
                        @if (Model.pedido.Pagamento == 0)
                        {
                            <td colspan="2"><strong>Forma de pagamento: </strong>Na entrega.</td>
                        }
                        else
                        {
                            <td colspan="2"><strong>Forma de pagamento: </strong>Por transferência bancária.</td>
                        }
                    </tr>
                </table>


                <h3>Entrega</h3>
                <table class="table table-bordered">
                    <tr>
                        <td colspan="4">
                            <strong>Endereço de entrega: </strong>@Model.enderecos.CEP | @Model.enderecos.Cidade, @Model.enderecos.Bairro, @Model.enderecos.Logradouro, @Model.enderecos.Complemento, @Model.enderecos.Numero
                        </td>
                    </tr>
                </table>

                <h3>Lista de produtos</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>TOTAL</th>
                    </tr>

                    @foreach (var produto in Model.itens)
                    {
                        <tr>
                            <td>@produto.Produto.Nomeprod</td>
                            <td>@produto.ValorItemCompra.ToString("C")</td>
                            <td>@produto.Quantidade</td>
                            <td>@((produto.ValorItemCompra * produto.Quantidade).ToString("C"))</td>
                            @{
                                total += (produto.ValorItemCompra * produto.Quantidade);
                            }
                        </tr>
                    }
                    <tr>
                        <td colspan="4" class="text-right"><strong>Total: </strong>@total.ToString("C")</td>
                    </tr>
                </table>

                <h3>Ações</h3>
                <div class="col-md-6">
                    <label>Status do Pedido: <h11 style="color:red;">*</h11></label>
                    <select asp-for="pedido.Status" asp-items="@ViewBag.Status" class="custom-select" id="inputGroupSelect02">
                        <option value=""></option>
                    </select>
                </div>

                <br />
                <br />
            </div>

        </div>
    </form>
</div>