@model List<BazarPapelaria10.Models.ProdutoAgregador.ProdutoItem>
@{
    ViewData["Title"] = "Carrinho";
    decimal subTotal = 0;
}
<head>
    <title>Nota 10 - Carrinho</title>
</head>

<body>
    <main role="main">

        <section class="container" id="order" style="margin-top: 50px">

            <h2 class="title-doc text-center"><i class="fas fa-shopping-cart"></i> Carrinho de Compras</h2>

            <div class="alert alert-danger alert-dismissible fade show" style="display:none;" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="code_cart">

                @if (Model.Count() > 0)
                {
                    <div class="card">

                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col" class="text-center" width="200">Quantidade</th>
                                    <th scope="col" width="200">Preço</th>
                                    <th scope="col" width="120" class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <figure class="media">

                                                @if (item.Imagens != null && item.Imagens.Count > 0)
                                                {
                                                    <div class="img-wrap" style="max-width:70px; max-height: 70px;"><img src="@item.Imagens.FirstOrDefault().Caminho" class="img-thumbnail img-sm"></div>
                                                }
                                                else
                                                {
                                                    <div class="img-wrap" style="max-width:70px; max-height: 70px;"><img src="/images/noimage.png" class="img-thumbnail img-sm"></div>
                                                }

                                            <figcaption class="media-body" style="margin-left:10px;">
                                                <h6 class="title text-truncate">@item.Nomeprod</h6>
                                                @if (item.Marca != null)
                                                {
                                                    <dl class="dlist-inline small">

                                                        <dt>Marca: </dt>
                                                        <dd>@item.Marca</dd>

                                                    </dl>
                                                }
                                                @if (item.Modelo != null)
                                                {
                                                    <dl class="dlist-inline small">

                                                        <dt>Modelo: </dt>
                                                        <dd>@item.Modelo</dd>

                                                    </dl>
                                                }
                                                @if (item.Cor != null)
                                                {
                                                    <dl class="dlist-inline small">

                                                        <dt>Cor: </dt>
                                                        <dd>@item.Cor</dd>

                                                    </dl>
                                                }
                                                @if (item.Material != null)
                                                {
                                                    <dl class="dlist-inline small">

                                                        <dt>Marca: </dt>
                                                        <dd>@item.Material</dd>

                                                    </dl>
                                                }
                                            </figcaption>
                                            </figure>
                                        </td>

                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2 custom-control-inline">
                                                    <input type="hidden" class="inputProdutoId" value="@item.Id" />
                                                    <input type="hidden" class="inputQuantidadeEstoque" value="@item.Quantidade" />
                                                    <input type="hidden" class="inputValorUnitario" value="@item.Valorprod" />
                                                    <div class="input-group-prepend">
                                                        <a href="#" class="btn btn-dark btn-car diminuir rounded"> - </a>
                                                    </div>
                                                    <input type="text" readonly class="form-control text-center rounded inputQuantidadeProdutoCarrinho" value="@item.QuantidadeProdutoCarrinho">
                                                    <div class="input-group-append">
                                                        <a href="#" class="btn btn-dark btn-car aumentar rounded"> + </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        @{
                                            var resultado = item.Valorprod * item.QuantidadeProdutoCarrinho;
                                            subTotal += resultado;
                                        }

                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@(resultado.ToString("C"))</var>
                                                <small class="text-muted">/@item.Valorprod.ToString("C") cada</small>
                                            </div>
                                        </td>
                                        <td>
                                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItem" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Remover</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <div class="alert alert-gray-light" role="alert"><p>Não existem produtos no carrinho.</p></div>
                }

            </div>
        </section>
        <br />
        <br />

        <section class="container">
            <div class="row">
                <aside class="col-md-6 text-center" style="margin-right:auto; margin-left:auto;">
                    <div id="code_desc_right">
                        <div class="box">
                            <h4 class="subtitle-doc" style="margin-bottom:15px;">
                                <i class="fas fa-money-bill-wave"></i> Resumo
                            </h4>
                            <dl class="dlist-align">
                                <dt><i class="fas fa-map-marked-alt"></i><strong> Entrega:</strong></dt>
                                <dd class="text-right">
                                    Aparecida de Goiânia e Goiânia
                                    <small class="text-muted">/frete grátis</small>
                                </dd>
                            </dl>
                            <dl class="dlist-align" style="margin-bottom:15px;">
                                <dt><i class="fas fa-money-check-alt"></i><strong> Valor total:</strong></dt>
                                <dd class="text-right h5 b subtotal">@subTotal.ToString("C")</dd>
                            </dl>

                            <a href="#" class="btn btn-success btn-continuar"><i class="fas fa-truck-loading"></i> Continuar</a>

                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <hr class="featurette-divider">
    </main>
</body>