@model List<BazarPapelaria10.Models.ProdutoAgregador.ProdutoItem>
@{
    ViewData["Title"] = "Carrinho";
    decimal total = 0;
}
<head>
    <title>Nota 10 - Carrinho</title>
</head>

<body>
    <main role="main">

        <section class="container" id="order" style="margin-top: 50px">

            <h2 class="title-doc text-center">Carrinho de Compras</h2>

            <div id="code_cart">

                @if (Model.Count() > 0)
                {
                    <div class="card">

                        <table class="table table-hover shopping-cart-wrap">
                            <thead class="text-muted">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col" class="text-center" width="200">Quantidade</th>
                                    <th scope="col" width="200">Preço</th>
                                    <th scope="col" width="120" class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <figure class="media">
                                                <div class="img-wrap"><img src="/images/noimage.png" class="img-thumbnail img-sm"></div>
                                                <figcaption class="media-body" style="margin-left:10px;">
                                                    <h6 class="title text-truncate">@item.Nomeprod</h6>
                                                    <dl class="dlist-inline small">
                                                        <dt>Size: </dt>
                                                        <dd>XXL</dd>
                                                    </dl>
                                                    <dl class="dlist-inline small">
                                                        <dt>Color: </dt>
                                                        <dd>Orange color</dd>
                                                    </dl>
                                                </figcaption>
                                            </figure>
                                        </td>

                                        <td>
                                            <div class="col-auto">
                                                <div class="input-group mb-2">
                                                    <input type="hidden" class="inputProdutoId" value="@item.Id" />
                                                    <input type="hidden" class="inputQuantidadeEstoque" value="@item.Quantidade" />
                                                    <input type="hidden" class="inputValorUnitario" value="@item.Valorprod" />
                                                    <div class="input-group-prepend">
                                                        <a href="#" class="btn btn-dark btn-car diminuir rounded"> - </a>
                                                    </div>
                                                    <input type="text" readonly class="form-control text-center rounded inputQuantidadeProdutoCarrinho" id="inlineFormInputGroup" value="@item.QuantidadeProdutoCarrinho">
                                                    <div class="input-group-append">
                                                        <a href="#" class="btn btn-dark btn-car aumentar rounded"> + </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@((item.Valorprod * item.QuantidadeProdutoCarrinho).ToString("C"))</var>
                                                <p><small class="text-muted">(@item.Valorprod.ToString("C") cada)</small></p>
                                            </div> <!-- price-wrap .// -->

                                            @{
                                                total += (item.Valorprod * item.QuantidadeProdutoCarrinho);
                                            }

                                        </td>
                                        <td>
                                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItem" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Remover</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div> <!-- card.// -->
                }
                else
                {
                    <div class="alert alert-gray-light" role="alert"><p>Não existem produtos no carrinho.</p></div>
                }

            </div> <!-- code-wrap.// -->
        </section>
        <br />
        <br />

        <section class="container">
            <div class="row">
                <aside class="col-md-6 text-center" style="margin-right:auto; margin-left:auto;">
                    <h4 class="subtitle-doc">
                        <i class="fas fa-money-bill-wave"></i> Total a pagar
                    </h4>
                    <div id="code_desc_right">
                        <div class="box">
                            <dl class="dlist-align">
                                <dt><i class="fas fa-truck-loading"></i><strong> Entrega:</strong></dt>
                                <dd class="text-right">
                                    Aparecida de Goiânia e Goiânia
                                    <small class="text-muted">/frete grátis</small>
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt><i class="fas fa-money-check-alt"></i><strong> Total a pagar:</strong></dt>
                                <dd class="text-right h5 b">@total.ToString("C")</dd>
                            </dl>
                        </div> <!-- box.// -->
                    </div> <!-- code-wrap.// -->
                </aside>
            </div>
        </section>

        <hr class="featurette-divider">
    </main>
</body>